
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo{
    font-size: 30px;
    font-weight: bolder;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A ;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 15px;
    color:white;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
nav{
    width: 74%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 15px;
    color: #474747;
    text-decoration: none;
}